<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ES6</title>
</head>
<body>
    <div id="root"></div>
    <div>
        ES6

        <a href="./link/canvas.html">涂鸦</a>
        <!-- <a href="./link/canvas1.html">涂鸦2</a> -->
        <a href="./link/request.html">axios请求</a>
        <a href="./link/design.html">设计模式</a>
        <a href="./link/publish.html">发布订阅模式</a>
    </div>
<script src="../public/js/design.js" type="module"></script>
    
</body>
</html>