<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>设计模式-中介者模式</title>
    <style>
        body{margin: auto 0;text-align: center;color: black;}
    </style>
    
</head>
<body>
<div id="root">
    <!-- <img src="" alt=""> -->
    <p>设计模式-中介者模式</p>
    <select name="" id="colorSelect">
        <option value="请选择颜色"></option>
        <option value="red"></option>
        <option value="blue"></option>
    </select>
    <select name="" id="memorySelect">
        <option value="请选择内存"></option>
        <option value="16G"></option>
        <option value="32G"></option>
        <option value="64G"></option>
        <option value="128G"></option>
    </select>
    <input type="text" id="kuncun" />
    <div id="colorInfo"></div>
    <div id="memoryInfo"></div>
    <div id="kuncunInfo"></div>
    <input type="button" id="nextBtn" value="加入购物车" />
</div> 
<script src="../public/js/design-media.js" type="module"></script>
</body>
</html>
