<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>设计模式-虚拟代理，缓存代理</title>
    <style>
        body{margin: auto 0;text-align: center;}
    </style>
    
</head>
<body>
<div id="root">
    <!-- <img src="" alt=""> -->
    <p>代理模式：请看console，打印addProxy(number,number)和multProxy2(number,number)</p>
    <input type="checkbox" value="aa" />
    <input type="checkbox" value="bb" />
    <input type="checkbox" value="cc" />
    <input type="checkbox" value="dd" />
    <input type="checkbox" value="ee" />
</div> 
<script src="../public/js/design.js" type="module"></script>
</body>
</html>
